{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block sb_admin_description %}{% endblock sb_admin_description %}">
  <meta name="author" content="{% block sb_admin_author %}{% endblock %}">
  <title>{% block title %}GOOSEC{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css"  %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

  <!-- jqTree-->
  <link href="{% static "css/jqtree.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block sb_admin_custom_css %}{% endblock sb_admin_custom_css %}

<script src="{% static "js/jquery.js"%}"></script>
<script src="{% static "js/bootstrap.min.js"%}"></script>
<script src="{% static "vendor/jquery/jquery.min.js"%}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>
<script src="{% static "vendor/chart.js/Chart.min.js"%}"></script>
<script src="{% static "vendor/datatables/jquery.dataTables.js"%}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.js"%}"></script>
<script src="{% static "js/sb-admin.min.js"%}"></script>

{% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}

</head>

<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand" href="{% block sb_admin_header_url %}{% url "sb_admin_start" %}{% endblock sb_admin_header_url %}">{% block sb_admin_header %}GOOSEC{% endblock sb_admin_header %}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  {% block sb_admin_navbar_right %}
  <!-- Navbar Search -->

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
<!--
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Activity Log</a>
        <div class="dropdown-divider"></div>
-->
        <a class="dropdown-item" href="logout/" >Logout</a>
      </div>
    </li>
  </ul>
  {% endblock sb_admin_navbar_right %}
</nav>
<div id="wrapper"><!-- wrapper -->
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    {% block sb_admin_sidebar %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Client Honey</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "crawl_regist" %}">regist</a>
        <a class="dropdown-item" href="{% url "crawl_history" %}">history</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Info</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "result_info" %}?session_id={{ session_id }}">Info</a>
        <a class="dropdown-item" href="{% url "result_info_link" %}?session_id={{ session_id }}">Link</a>
	<a class="dropdown-item" href="{% url "result_snapshot" %}?session_id={{ session_id }}">Snapshot</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Contents</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "result_domain" %}?session_id={{ session_id }}">Domain</a>
        <a class="dropdown-item" href="{% url "result_country" %}?session_id={{ session_id }}">Country</a>
        <a class="dropdown-item" href="{% url "result_content_type" %}?session_id={{ session_id }}">ContentType</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>HAR</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "result_har_info" %}?session_id={{ session_id }}">Info</a>
	<a class="dropdown-item" href="{% url "result_har_summary" %}?session_id={{ session_id }}">Summary</a>
        <a class="dropdown-item" href="{% url "result_har_hist" %}?session_id={{ session_id }}">Hist</a>
        <a class="dropdown-item" href="{% url "result_har_attention" %}?session_id={{ session_id }}">Attention</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Sandbox</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "result_sanbox_info" %}?session_id={{ session_id }}">YARA</a>
      </div>
    </li>

    {% endblock sb_admin_sidebar %}
  </ul>
  <div id="content-wrapper"><!-- content wrapper -->
    <div class="container-fluid"><!-- cfluid -->
  {# <div id="page-wrapper"> #}
  {# <div class="container-fluid"> #}
      <!-- Page Heading -->

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          {% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url "sb_admin_start" %}">GOOSEC</a>{% endblock sb_admin_breadcrumb %}
        </li>
        {% block sb_admin_breadcrumb_active %}
        {% endblock sb_admin_breadcrumb_active %}
      </ol>
      <img src="{% static "img/goosec_logo.png"%}"/>
      <h2 class="page-header">Client Honey Result</h2>
      <p class="lead">RainForest OSS Project</p>
      {% block sb_admin_content %}
<!--
      <div class="alert alert-secondary alert-dismissable show">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info-circle"></i>  <strong>GOOSEC</strong> This and everything below is inside <code>sb_admin_content</code> block.
      </div>
-->
<!--
      <h3>Links</h3>
      <ul>
        <li><a href="https://github.com/bluszcz/django-sb-admin">django-sb-admin</a> project page on github</li>
        <li><a href="https://startbootstrap.com/templates/sb-admin/">sb-admin</a> original project page</li>
      </ul>
-->

  {# {% include "django_sb_admin/login.html" %}                #}
  {% endblock sb_admin_content %}
    </div><!-- cfluid -->
  </div><!-- content wrapper -->
  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>{% block sb_admin_copyright %}Copyright © GOOSEC 2019{% endblock sb_admin_copyright %}</span>
      </div>
    </div>
  </footer>

</div><!-- wrapper end -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</body>

</html>
