{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

{% block sb_admin_breadcrumb_active %}
<li class="breadcrumb-item active">History</li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<ul class="nav nav-tabs" role="tablist">
</ul>

<div class="tab-content">
    <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
        None
    </div>
</div>

<p class="small text-center text-muted my-5">
    <em></em>
</p>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<script src="{% static 'js/make_table_console.js' %}"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: '/api/CrawlHistory/',
            dataType: 'json',
            success: function(json) {
		var display = true;
                for (var title in json) {
                    create_tabs(title, display);
                    create_data(title, json[title], display);
		    display = false;
                }
                for (var title in json) {
                    $("#" + title+"_table").DataTable();
                }
            }
        });
    });
</script>
{% endblock sb_admin_custom_js %}
