{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Regist</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

	 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Regist Url</h3>
            </div>
            <form role="form" action="/api/CrawlUrl" method="post">
	      {% csrf_token %}
	      <div class="box-body">
                <div class="form-group">
                  <input type="url" class="form-control" id="url" name="url" placeholder="Enter url">
                </div>
              </div>
	      <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock sb_admin_custom_css %}

