{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Editor [{{ source }}]</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

  <!-- DataTables Example -->
  <form method="post" action="{% url "editor_save" %}" onsubmit="form_check()">
  {% csrf_token %}

  <input type="hidden" id="source" name="source" value="{{ source }}" />
  <textarea type="hidden" id="code" name="change_code" style="display:none" ></textarea>
  <div id="editor" style="height: 600px">{{ code }}</div>

  <p><input type="submit" value="save"></p>
  </form>

  <script src="{% static "js/ace.js"%}"></script>
  <script src="{% static "js/ext-language_tools.js"%}"></script>
  <script src="{% static "js/theme-cobalt.js"%}"></script>
  <script src="{% static "js/mode-yaml.js"%}"></script>
  <script>
    function tuneEditor( editor )
    {
        editor.setTheme( "ace/theme/cobalt" );
        editor.getSession().setMode( "ace/mode/yaml" );
        editor.setShowPrintMargin( false );
        editor.setShowInvisibles( true );
//        editor.setReadOnly( true );
        editor.focus();
    }
    var editor = ace.edit("editor");
    tuneEditor( editor );

    function form_check( ) {
        var input_txt = editor.getValue();
        $("#code").val( [input_txt] );
    }
  </script>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
  <script src="{% static 'js/highlight.min.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock sb_admin_custom_js %}

