{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Django SB Admin - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <img src="{% static "img/goosec_logo.png"%}"/>
      <center><h2 class="page-header">Client Honey Console</h2></center>
      <center><p class="lead">RainForest OSS Project</p></center>
      <!--
      <div class="card-header">Login</div>
      -->
      <div class="card-body">
        <form action="./auth/" method="post" name"login">
	  {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="inputID" id="inputID" class="form-control" placeholder="id" required="required" autofocus="autofocus">
              <label for="inputID">ID</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
      <!--
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
      -->
	  <button type="sumbit" class="btn btn-primary btn-block">Login</button>
        </form>
	<!--
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url "sb_admin_register" %}">Register an Account</a>
          <a class="d-block small" href="{% url "sb_admin_forgot_password" %}">Forgot Password?</a>
        </div>
	-->
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

</body>

</html>
