{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Other Log Tree Viewer</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
  <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-tree"></i>
            Other Log Tree Viewer</div>
          <div class="card-body">
          <div id="ajax" class="demo"></div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

        <p class="small text-center text-muted my-5">
        </p>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
  <script src="{% static 'js/jstree.min.js' %}"></script>
  <script>
        // ajax demo
        $('#ajax').jstree({
                'core' : {
                        'data' : {
                                "url" : "tree",
                                "dataType" : "json"
                        }
                }
        }).on('changed.jstree', function (e, data) {
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
                var select_path_array = data.instance.get_path(data.selected[i]);
                var select_path = select_path_array.join("/");

                var result = window.confirm(select_path+'ファイルを開きますか？');
                if (result) {
                    var url = "../codeview/?source="+select_path;
                    window.open( url );
                }
            }
        });
  </script>

{% endblock sb_admin_custom_js %}

