{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Info</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"> <i class="fa fa-bullhorn"></i> Info</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	<!-- Tab Table Area -->
	<ul class="nav nav-tabs" role="tablist">
        </ul>

	<div class="tab-content">
            <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
                None
            </div>
        </div>

	<!-- Tree Area -->
	<div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
	   <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<script src="{% static 'js/make_table_console.js' %}"></script>
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>
<script>
    $(document).ready(function() {
	{% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sInfoIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
		var title = "";
		var data = [];

		// Info Log
	        data = [ {"url":"", "title":"", "date":""} ];
	        data.push( {"url":json_data.seed, "title":json_data.title, "msg":json_data.crawl_date} );
		title = "info";
                create_tabs(title, true);
                create_data(title, data, true);

		// Console Log
	        data = [ {"url":"", "line":"", "msg":""} ];
                for(let v of json_data.console) {
	            data.push( {"url":v.caller.url, "line":v.caller.lineNumber, "msg":v.msg} );
                }
		title = "console";
                create_tabs(title, false);
                create_data(title, data, false);

		// Cookies
		title = "cookies";
	        data = [ {"domain":"", "path":"", "name":"", "value":"", "expires": 0} ];
                for(let v of json_data.coockies) {
	            data.push( {"domain":v.domain, "path":v.path, "name":v.name, "value":v.value, "expires": v.expires} );
                }
                create_tabs(title, false);
                create_data(title, data, false);

		// vm_console
		title = "vm_console";
	        data = [ {"url":"", "tag":"", "args":""} ];
                for(let v of json_data.sandbox) {
		    if (v.log.length > 0) {
	                data.push( {"url":v.url, "tag":v.log[0].tag, "args":v.log[0].args} );
		    } else {
	                data.push( {"url":v.url, "tag":"", "args":""} );
		    }
                }
                create_tabs(title, false);
                create_data(title, data, false);

		// Tree
		var disp_data = json_data;
		const formatter = new JSONFormatter(disp_data);
	        $('#tree1').append( formatter.render() );
            }
        });
	{% endautoescape %}
    });
</script>

{% endblock sb_admin_custom_js %}

