{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Domain</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"><i class="fa fa-bullhorn"></i> Domain</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	<div id="chartdiv"></div>

	<div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
	   <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
am4core.ready(function() {
	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end

	{% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sDomainIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
                //test_func();
                disp_chart( json_data );

		var disp_data = json_data;
		const formatter = new JSONFormatter(disp_data);
	        $('#tree1').append( formatter.render() );
            }
        });
	{% endautoescape %}
}); // end am4core.ready()

function disp_chart(in_data) {
	// create chart
	var chart = am4core.create("chartdiv", am4charts.TreeMap);
	chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

	chart.data = [];
	var index = 0;
	for (let tld_key in in_data) {
		chart.data.push( { name: tld_key, children: [] } );
		for (let key in in_data[tld_key]) {
			chart.data[index].children.push( { name: key, value: in_data[tld_key][key][0].num } );
		}
		index += 1;
	}

	chart.colors.step = 2;

	// define data fields
	chart.dataFields.value = "value";
	chart.dataFields.name = "name";
	chart.dataFields.children = "children";

	chart.zoomable = false;
	var bgColor = new am4core.InterfaceColorSet().getFor("background");

	// level 0 series template
	var level0SeriesTemplate = chart.seriesTemplates.create("0");
	var level0ColumnTemplate = level0SeriesTemplate.columns.template;

	level0ColumnTemplate.column.cornerRadius(10, 10, 10, 10);
	level0ColumnTemplate.fillOpacity = 0;
	level0ColumnTemplate.strokeWidth = 4;
	level0ColumnTemplate.strokeOpacity = 0;

	// level 1 series template
	var level1SeriesTemplate = chart.seriesTemplates.create("1");
	var level1ColumnTemplate = level1SeriesTemplate.columns.template;

	level1SeriesTemplate.tooltip.animationDuration = 0;
	level1SeriesTemplate.strokeOpacity = 1;

	level1ColumnTemplate.column.cornerRadius(10, 10, 10, 10)
	level1ColumnTemplate.fillOpacity = 1;
	level1ColumnTemplate.strokeWidth = 4;
	level1ColumnTemplate.stroke = bgColor;

	var bullet1 = level1SeriesTemplate.bullets.push(new am4charts.LabelBullet());
	bullet1.locationY = 0.5;
	bullet1.locationX = 0.5;
	bullet1.label.text = "{name}";
	bullet1.label.fill = am4core.color("#ffffff");

	chart.maxLevels = 2;
}

    $(document).ready(function() {
    });
</script>

{% endblock sb_admin_custom_js %}

