{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Link</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-bullhorn"></i> Link</h3>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <!-- Tab Table Area -->
        <ul class="nav nav-tabs" role="tablist">
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
                None
            </div>
        </div>

        <h3 class="box-title"><i class="fa fa-bullhorn"></i> inline JS code</h3>
          <pre>
          <code class="javascript" id="js_code"></code>
          </pre>

        <!-- Tree Area -->
        <div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
           <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<script src="{% static 'js/make_table_console.js' %}"></script>
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>
<script src="{% static 'js/highlight.min.js' %}"></script>
<script>
    hljs.initHighlightingOnLoad();
    $(document).ready(function() {
        {% autoescape off %}
        $.ajax({
            type: 'GET',
             url: '/api/sInfoLink/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
                var title = "";
                var data = [];

		// anchor
                data = [ {"type": "", "url":""} ];
                for(let v of json_data.anchor.outer) {
                    data.push( {"type": "outside", "url":v} );
                }
                for(let v of json_data.anchor.same) {
                    data.push( {"type": "inside", "url":v} );
                }
                title = "anchor";
                create_tabs(title, true);
                create_data(title, data, true);

		// script
                data = [ {"type": "", "url":""} ];
                for(let v of json_data.script.outer) {
		    if(v != "") data.push( {"type": "outside", "url":v} );
                }
                for(let v of json_data.script.same) {
		    if(v != "") data.push( {"type": "inside", "url":v} );
                }
                title = "script";
                create_tabs(title, false);
                create_data(title, data, false);

		// image
                data = [ {"type": "", "url":""} ];
                for(let v of json_data.image.outer) {
		    if(v != "") data.push( {"type": "outside", "url":v} );
                }
                for(let v of json_data.image.same) {
		    if(v != "") data.push( {"type": "inside", "url":v} );
                }
                title = "image";
                create_tabs(title, false);
                create_data(title, data, false);

		// css
                data = [ {"type": "", "url":""} ];
                for(let v of json_data.link.outer) {
		    if(v != "") data.push( {"type": "outside", "url":v} );
                }
                for(let v of json_data.link.same) {
		    if(v != "") data.push( {"type": "inside", "url":v} );
                }
                title = "css";
                create_tabs(title, false);
                create_data(title, data, false);

		// form
                data = [ {"type": "", "url":""} ];
                for(let v of json_data.form.outer) {
		    if(v != "") data.push( {"type": "outside", "url":v} );
                }
                for(let v of json_data.form.same) {
		    if(v != "") data.push( {"type": "inside", "url":v} );
                }
                title = "form";
                create_tabs(title, false);
                create_data(title, data, false);

		// Code Viewer
		code = "";
		for (let key in json_data.script_inline) {
		    code += json_data.script_inline[key];
		}
                $("#js_code").text(code);

                var disp_data = json_data;
                const formatter = new JSONFormatter(disp_data);
                $('#tree1').append( formatter.render() );
            }
        });
        {% endautoescape %}
    });
</script>

{% endblock sb_admin_custom_js %}


