{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Link</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-bullhorn"></i> Link</h3>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <h3 class="box-title"><i class="fa fa-bullhorn"></i> Snapshot </h3>
	<img src="/api/getSnapshot/?session_id={{session_id}}"> </img>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<script>
    $(document).ready(function() {
        {% autoescape off %}
        {% endautoescape %}
    });
</script>

{% endblock sb_admin_custom_js %}


