{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">ContentType</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"><i class="fa fa-bullhorn"></i> ContentType</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div id="chartdiv"></div>

	<div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
	   <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
function disp_chart(in_data) {
	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end

	var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
	chart.fontFamily = "Courier New";
	var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
	series.randomness = 0.1;
	series.rotationThreshold = 0.5;

        series.data = [];
        for (let type in in_data) {
		series.data.push( {"tag": type, "count": in_data[type].num} );
        }

	series.dataFields.word = "tag";
	series.dataFields.value = "count";

	series.heatRules.push({
	 "target": series.labels.template,
	 "property": "fill",
	 "min": am4core.color("#0000CC"),
	 "max": am4core.color("#CC00CC"),
	 "dataField": "value"
	});

	var hoverState = series.labels.template.states.create("hover");
	hoverState.properties.fill = am4core.color("#FF0000");
}

am4core.ready(function() {
    $(document).ready(function() {
	{% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sContentTypeIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
		disp_chart( json_data );

		var disp_data = json_data;
		const formatter = new JSONFormatter(disp_data);
	        $('#tree1').append( formatter.render() );
            }
        });
	{% endautoescape %}
    });
});
</script>

{% endblock sb_admin_custom_js %}

