{% extends "django_sb_admin/base_result_har.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">HAR Info</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"><i class="fa fa-bullhorn"></i> HAR Info</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
           <div id="har"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
  <link rel="stylesheet" href="{% static 'css/har-viewer.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<!-- jqTree-->
<script src="{% static "js/mustache.js"%}"></script>
<script src="{% static "js/jquery_har.min.js"%}"></script>
<script src="{% static "js/jquery-ui.min.js"%}"></script>
<script src="{% static "js/har-viewer.js"%}"></script>
<script src="{% static "js/json-formatter.umd.js"%}"></script>
<script>
    $(document).ready(function() {
	$('#har').HarView();
	{% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sHarIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
		var har = $('#har').data('HarView');
		draw_data = {}; draw_data.log = {};
		draw_data.log.entries = json_data;
		har.render(draw_data);
//		var disp_data = json_data;
//		const formatter = new JSONFormatter(disp_data);
//	        $('#har').append( formatter.render() );
            }
        });
	{% endautoescape %}
    });
</script>

{% endblock sb_admin_custom_js %}

