{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">HAR Hist</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"><i class="fa fa-bullhorn"></i> HAR Hist</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	<div id="chartdiv"></div>

	<div id="chartdiv-2"></div>

	<div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
	   <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
#chartdiv-2 {
  width: 100%;
  height: 500px;
}
</style>

{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
function disp_chart2(in_data) {
	// create chart
	var chart = am4core.create("chartdiv-2", am4charts.TreeMap);
	chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

	chart.data = [];
	var index = 0;
	for (let tld_key in in_data) {
		chart.data.push( { name: tld_key, children: [] } );
		for (let key in in_data[tld_key]) {
			if (in_data[tld_key][key].size > 0) {
				chart.data[index].children.push( { name: key, value: in_data[tld_key][key].size } );
			}
		}
		index += 1;
	}

	chart.colors.step = 2;

	// define data fields
	chart.dataFields.value = "value";
	chart.dataFields.name = "name";
	chart.dataFields.children = "children";

	chart.zoomable = false;
	var bgColor = new am4core.InterfaceColorSet().getFor("background");

	// level 0 series template
	var level0SeriesTemplate = chart.seriesTemplates.create("0");
	var level0ColumnTemplate = level0SeriesTemplate.columns.template;

	level0ColumnTemplate.column.cornerRadius(10, 10, 10, 10);
	level0ColumnTemplate.fillOpacity = 0;
	level0ColumnTemplate.strokeWidth = 4;
	level0ColumnTemplate.strokeOpacity = 0;

	// level 1 series template
	var level1SeriesTemplate = chart.seriesTemplates.create("1");
	var level1ColumnTemplate = level1SeriesTemplate.columns.template;

	level1SeriesTemplate.tooltip.animationDuration = 0;
	level1SeriesTemplate.strokeOpacity = 1;

	level1ColumnTemplate.column.cornerRadius(10, 10, 10, 10)
	level1ColumnTemplate.fillOpacity = 1;
	level1ColumnTemplate.strokeWidth = 4;
	level1ColumnTemplate.stroke = bgColor;

	var bullet1 = level1SeriesTemplate.bullets.push(new am4charts.LabelBullet());
	bullet1.locationY = 0.5;
	bullet1.locationX = 0.5;
	bullet1.label.text = "{name}";
	bullet1.label.fill = am4core.color("#ffffff");

	chart.maxLevels = 2;
}

function disp_chart(in_data) {
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
        chart.fontFamily = "Courier New";
        var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
        series.randomness = 0.1;
        series.rotationThreshold = 0.5;

        series.data = [];
        for (let type in in_data) {
                series.data.push( {"tag": type, "count": in_data[type].count} );
        }

        series.dataFields.word = "tag";
        series.dataFields.value = "count";

        series.heatRules.push({
         "target": series.labels.template,
         "property": "fill",
         "min": am4core.color("#0000CC"),
         "max": am4core.color("#CC00CC"),
         "dataField": "value"
        });

        var hoverState = series.labels.template.states.create("hover");
        hoverState.properties.fill = am4core.color("#FF0000");
}

am4core.ready(function() {
    $(document).ready(function() {
        {% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sHarHistIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
                disp_chart( json_data );
                disp_chart2( json_data );

                var disp_data = json_data;
                const formatter = new JSONFormatter(disp_data);
                $('#tree1').append( formatter.render() );
            }
        });
        {% endautoescape %}
    });
});
</script>

{% endblock sb_admin_custom_js %}

