{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Country</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
	      <h3 class="box-title"><i class="fa fa-bullhorn"></i> Country</h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	<div id="cy"></div>

	<div class="box box-primary json-formatter-row json-formatter-dark json-formatter-open" style="background-color: rgb(30, 30, 30);">
	   <div id="tree1"></div>
        </div>
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/json-formatter.css' %}" />

      <style type="text/css">
        /* cytoscape graph */
        #cy {
            height: 800px;
            width: 100%;
            background-color: #f9f9f9;
        }
    </style>

{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
<!-- jqTree-->
<script src="{% static "js/json-formatter.umd.js"%}"></script>
<!-- https://js.cytoscape.org/ -->
<!--
<script src="{% static "js/cytoscape.min.js"%}"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.7/cytoscape.min.js"></script>
<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>

<script>
function make_graph( in_data ) {
	var elements = { nodes: [], edges: [] }
        for (let cn_key in in_data) {
		elements.nodes.push( {data: {id: cn_key, name: cn_key, label: "Country"}} );
		for (let tld_key in in_data[cn_key]) {
			elements.nodes.push( {data: {id: tld_key, name: tld_key, label: "Tld"}} );
			elements.edges.push( {data: {source: cn_key, target: tld_key, relationship: "Link"}} );
			for (let domain in in_data[cn_key][tld_key]) {
				elements.nodes.push( {data: {id: domain, name: domain, label: "Domain"}} );
				elements.edges.push( {data: {source: tld_key, target: domain, relationship: "Link"}} );
			}
		}
        }

	var style = [
		{ selector: 'node[label = "Country"]', css: {'background-color': '#6FB1FC', 'content': 'data(name)'} },
		{ selector: 'node[label = "Tld"]', css: {'background-color': '#F5A45D', 'content': 'data(name)'} },
		{ selector: 'node[label = "Domain"]', css: {'background-color': '#F5A45D', 'content': 'data(name)'} },
		{ selector: 'edge', css: {'content': 'data(relationship)', 'target-arrow-shape': 'triangle'} } 
	];

	var layout = {
		name : 'dagre'
	}

	// Cytoscapeオブジェクト初期化。
	var cy = cytoscape({ 
		// containerがHTML内の「cy」DOM要素に指定
		container: document.getElementById('cy'),
		elements: elements,
		style: style,
		layout: layout,
	});
}

    $(document).ready(function() {
	{% autoescape off %}
        $.ajax({
            type: 'GET',
	     url: '/api/sCountryIndex/?session_id={{session_id}}',
            dataType: 'json',
            success: function(json_data) {
		make_graph( json_data );

		var disp_data = json_data;
		const formatter = new JSONFormatter(disp_data);
	        $('#tree1').append( formatter.render() );
            }
        });
	{% endautoescape %}
    });
</script>

{% endblock sb_admin_custom_js %}

