{% extends "django_sb_admin/base_result.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Result</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  

 <section class="content">
         <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
<!--
              <i class="fa fa-bullhorn"></i>

              <h3 class="box-title">GOOSEC Result</h3>
-->
            </div>
            <!-- /.box-header -->
	    <!--
            <div class="box-body">
              <div class="callout callout-success">
	        <h4>session id : {{ id }}</h4>
		<h4>url : {{ url }}</h4>
              </div>
            </div>
	    -->
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	 <!--
	 <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Regist Url</h3>
            </div>
            <form role="form" action="/api/CrawlUrl" method="post">
	      <div class="box-body">
                <div class="form-group">
                  <input type="url" class="form-control" id="url" name="url" placeholder="Enter url">
                </div>
              </div>
	      <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
	 -->
 </section>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock sb_admin_custom_css %}

