{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">Send To Slack Alert Log</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
  <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-code"></i>
            Send To Slack Alert Log</div>
          <div class="card-body">
            <div class="table-responsive">
            <pre>
            <code> {{ code }} </code>
            </pre>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

        <p class="small text-center text-muted my-5">
          <em></em>
        </p>

{% endblock sb_admin_content %}

{% block sb_admin_custom_css %}
  <link rel="stylesheet" href="{% static 'css/vs.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock sb_admin_custom_css %}

{% block sb_admin_custom_js %}
  <script src="{% static 'js/highlight.min.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock sb_admin_custom_js %}

